

<style>
    a {
	 color: #6c757d;
}
 a:hover {
	 color: rgb(36, 25, 93);
	 text-decoration: none;
}
 ::selection {
	 background: rgb(36, 25, 93);
	 text-shadow: none;
}
 footer {
	 padding: 2rem 0;
	 background-color: #ffebeb;
}
 .footer-column:not(:first-child) {
	 padding-top: 2rem;
}
 @media (min-width: 768px) {
	 .footer-column:not(:first-child) {
		 padding-top: 0rem;
	}
}
 .footer-column {
	 text-align: center;
}
 .footer-column .nav-item .nav-link {
	 padding: 0.1rem 0;
}
 .footer-column .nav-item span.nav-link {
	 color: #6c757d;
}
 .footer-column .nav-item span.footer-title {
	 font-size: 14px;
	 font-weight: 700;
	 color: rgb(36, 25, 93);
	 text-transform: uppercase;
}
 .footer-column .nav-item .fas {
	 margin-right: 0.5rem;
}
 .footer-column ul {
	 display: inline-block;
}
 @media (min-width: 768px) {
	 .footer-column ul {
		 text-align: left;
	}
}
 ul.social-buttons {
	 margin-bottom: 0;
}
 ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
	 background-color: #fec503;
}
 ul.social-buttons li a {
	 font-size: 20px;
	 line-height: 40px;
	 display: block;
	 width: 40px;
	 height: 40px;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 transition: all 0.3s;
	 color: #fff;
	 border-radius: 100%;
	 outline: 0;
	 background-color: #1a1d20;
}
 footer .quick-links {
	 font-size: 90%;
	 line-height: 40px;
	 margin-bottom: 0;
	 text-transform: none;
	 font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 .copyright {
	 color: rgb(30, 27, 112);
}
 .fa-ellipsis-h {
	 color: white;
	 padding: 2rem 0;
}
.footer-icon{
  color: #000;
  font-size: 20px;
}
 .social-media{
  text-decoration: none;
  background-color: red;
 }

</style>
<br>
<br>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Online Shopping</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/women">Women</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/men">Men</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/kids">Kids</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/beauty">Beauty</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">NAVAYATA</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shipping</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Track Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">return</a>
              </li>
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Contact & Support</span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><i class="footer-icon">✆ &nbsp;</i>100</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="footer-icon">☁ &nbsp;</i>Live chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="footer-icon">✉ &nbsp;</i>Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="footer-icon">★ &nbsp;</i>Give feedback</a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>
      
      <div class="row text-center">
        <div class="col-md-4 box">
          <span class="copyright quick-links">

            <a href="https://github.com/kusalkarsonam/portfolio_sonam_kuslkar.github.io">
            Copyright © 2022 Sonam Kusalkar. All rights reserved. <br>
            Visit My Portfolio_sonam_kuslkar   
            
            </a>
          </span>
        </div>
        <div class="col-md-4 box">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#" class="social-media">
              <i>G</i>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-media">
              <i >FB</i>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-media">
              <i>IN</i>
            </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 box">
          <ul class="list-inline quick-links">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>