<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>




<style>


/* content breaker */
.iMagoH {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Mier Bold", sans-serif;
    font-size: 30px;
    line-height: 54px;
    letter-spacing: 0.7px;
    color: rgb(32, 32, 36);
    text-align: center;
}
.iMagoH .sctn-line {
    width: 22%;
    height: 1px;
    background: rgb(247, 168, 202);
}

@media only screen and (max-width: 600px){

.img_cont img{
    display: flex;
    justify-content: center;
    width: 79%;
    float: right;
    margin-right: -83px;
    padding: 70px;
}
}



</style>





<!----------------------------------------CAROUSEL STARTS------------------------------------------------->

<app-carousel [images]="images"
	[autoSlide]="true">
</app-carousel>
<!----------------------------------------CAROUSEL ENDS------------------------------------------------->




<!----------------------------------------FAVOURITE BRANDS CONTAINER STARTS----------------------------------------------->
 
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>FAVOURITE BRANDS</span><div class="sctn-line"></div></div>
   
<br>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/ab69d015-a975-4bda-990c-49e68938f6b31604926460802-19-FavBrands-AllenSollyJuniors.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/fee6018d-c5dd-44b7-b1d1-9b994c1ae1e21604926460545-13-FavBrands-UCB.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/4d3f0e9d-1b7a-458e-b05b-75d1f51db0411604926460628-15-FavBrands-NautiNati.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/a505cf6b-beab-4bea-ba8d-06d7302486761604926460589-14-FavBrands-USPA.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/7a43b5cc-7b14-465a-9043-153fe35fb4d91604926460506-12-FavBrands-Gini_Jony.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/0bb2a638-7a84-4e75-bbbb-152140d32fd51604926460667-16-FavBrands-Peppermint.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
    </div>
</div>
 

<!----------------------------------------FAVOURITE BRANDS CONTAINER ENDS----------------------------------------------->
 


<!----------------------------------------TOP PICKS CONTAINER STARTS----------------------------------------------->
 
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>ICONIC BRANDS</span><div class="sctn-line"></div></div>
   
<br>


<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="img_cont">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/f79446fb-46b9-455a-a6c0-4ffe3f58dd071604906586106-23-IconicBrands-H_M.jpg" 
        alt="d-1" style="width: 150%; margin-left: -75px;" ></a></div>
        </div>
        <div class="col-md-2">
            <div class="img_cont">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/2ba882da-667c-4f6e-a27e-292d0ffe477a1604906586228-26-IconicBrands-MangoKids.jpg" 
        alt="d-1" style="width: 150%; margin-left: -16px;" ></a></div>
        </div>
        <div class="col-md-2">
            <div class="img_cont">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/37147834-2bc5-4cdb-8eb9-68bf0fd48ca01604906586191-25-IconicBrands-Chicco.jpg" 
        alt="d-1" style="width: 150%; margin-left: 43px;" ></a></div>
        </div>
        <div class="col-md-2">
            <div class="img_cont">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/f23d49ee-a598-4039-a6cd-33dab8a7e2011604906586056-22-IconicBrands-M_S.jpg" 
        alt="d-1" style="width: 150%; margin-left: 102px;" ></a></div>
        </div>
        <div class="col-md-2">
            <div class="img_cont">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/0f9ec937-304a-433a-9433-5409c556831c1604906586152-24-IconicBrands-TommyHilfiger.jpg" 
        alt="d-1" style="width: 150%; margin-left: 161px;" ></a></div>
        </div>
      
    </div>
</div>
 

<!----------------------------------------TOP PICKS CONTAINER ENDS----------------------------------------------->
 
    
<!--------------------------------------FASHION & ESSENTIALS CONTAINER STARTS----------------------------------------------->
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>FASHION & ESSENTIALS </span><div class="sctn-line"></div></div>
   
<br>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/f20838ab-108c-4fe6-bd74-0dc7551a2bbd1604906586589-34-Essentials-Masks.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>   
        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/3df8a117-4db8-4cb6-ac0e-e60291d957241604906586646-35-Essentials-BabyCare.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/29baf945-9e5b-4f0e-bb05-0ce65c57f9c91604906586502-32-Essentials-Shorts.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/353fd453-6a17-45b9-b3da-a3dfd88121a31604906586547-33-Essentials-Valuepacks.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/c22c8c4b-753a-4f90-8def-511d2ed6caf31604906586731-37-Essentials-EthnicWear.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        




        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/efc4b19d-179f-4437-961c-839df50299a51604906586690-36-Essentials-Night_innerwear.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/4e6eefd3-3355-4c1c-851e-48a49c97d5b31604906586407-30-Essentials-Onesies.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/33368b8b-8702-4108-96a9-b8fa5b7ed36f1604906586455-31-Essentials-FlipFlop_sandals.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
   
      
    </div>            
</div>



<!----------------------------------------FASHION & ESSENTIALS CONTAINER ENDS----------------------------------------------->


    
<!--------------------------------------EXPLORE MORE CONTAINER STARTS----------------------------------------------->
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>EXPLORE MORE</span><div class="sctn-line"></div></div>
   
<br>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/630c5d84-b4fa-4ba8-aa92-c91cd134b9201604906586823-39-Banner-LogoMania.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>   
        <div class="col-md-6">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/7e5d76b3-afd1-4e82-8eee-179269cbab1c1604906586871-40-Banner-CharacterStore.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        


        <div class="col-md-6">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/cd843509-16fe-4437-a814-90f3eea6bb4b1604906586922-41-Banner-AllOrganic.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>   
        <div class="col-md-6">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/d878e27a-f64d-45c9-bd9b-ee257b49894f1604906586980-42-Banner-EssentialStore.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>



        <div class="col-md-6">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/bb420f64-fea8-4d66-87b7-03c7f7fb6e621604906587041-43-Banner-Uniquely-Myntra.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>   
        <div class="col-md-6">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/1ac6219d-54b8-484e-813b-c239bb9880141604906587091-44-Banner-ActiveWearStore.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>


    </div>            
</div>



<!----------------------------------------EXPLORE MORE CONTAINER ENDS----------------------------------------------->




<!--------------------------------------THE KIDS SPACECONTAINER STARTS----------------------------------------------->
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>THE KIDS SPACE</span><div class="sctn-line"></div></div>
   
<br>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/817ada39-86d3-4162-b10f-443c7d658f541604906587912-59b-Banner-KidsSpace.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>   
        <div class="col-md-6">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/9906ea02-f0e5-40b8-b6db-ce3c5fd5fcf31604906587854-59a-Banner-KidsSpace.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        

    </div>            
</div>



<!----------------------------------------THE KIDS SPACE SPACECONTAINER ENDS----------------------------------------------->




<!--------------------------------------SHOP MORE BRANDS CONTAINER STARTS----------------------------------------------->
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>EXPLORE MORE</span><div class="sctn-line"></div></div>
   
<br>




<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/19/00da8e7c-c7b2-4386-be22-29e6ce7f93491626685981220-Top-Nav_Life-Style.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/3b15613e-57c1-451c-bc7d-66ea2ba0066a1604906588521-69-MoreBrands-PepeJeans.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/aa944cdd-33ff-4576-988d-fe8310cf9db91604906588585-70-MoreBrands-HRXU17.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/kids-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/3bfd54e9-06ca-4a1c-8286-fc1eb73242661604906588708-72-MoreBrands-Sangria.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
  
     
    </div>
</div>
 



<!----------------------------------------SHOP MORE BRANDSCONTAINER ENDS----------------------------------------------->

