<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script src="src/app/sample/sample.js"></script>




<p>sample works!</p>









<style>
    * {
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  .cart-btn {
    display: flex;
    justify-content: flex-end;
  }
  
  #cart {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    margin: 1em 4em 0 0;
  }
  
  .cart-quantity {
    color: white;
    background-color: red;
    padding: .2em .3em;
    position: absolute;
    margin: .8em 7.5em 0 0;
    right: 0;
    border: solid 2px red;
    border-radius: 15px;
    font-weight: bolder;
  }
  
  .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 1em
  }
  
  .card {
  /*   width: 15rem; */
    margin: 1em;
    position: relative;
    overflow: hidden; 
    text-align: center
  }
  
  .card:hover .add-to-cart {
    transform: translateX(0);
  }
  
  .product-image {
    margin-bottom: 1em
  }
  
  .add-to-cart {
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    top: 65%;
    padding: .5em 1em; 
    transform: translateX(300px);
    transition: .5s ease;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem
  }
  
  .product-price {
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .cart-modal-overlay {
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    transform: translateX(-200%);
    transition: .5s ease-out;
    
  }
  
  .cart-modal {
    height: 100vh;
    width: 50%;
    background-color: rgb(50,50,50);
    float: right;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  #close-btn {
    font-size: 1.5rem;
    float: right;
    margin: .5em 2em 0 0;
    color: white;
    cursor: pointer;
  }
  
  .cart-is-empty {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    display: none;
    
  }
  
  .total {
    text-align: center;
    margin: 2em 0 2em 0;
  /*   display: none; */
  }
  
  .cart-total {
    color: white;
  }
  
  .total-price {
    color: white;
    font-size: 2rem;
    display: block;
  }
  
  .purchase-btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: green;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2em 0 1em 0;
  }
  
  .product-rows {
    margin-top: 3em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .product-row {
    display: flex;
    align-items: center;
  }
  
  .cart-image {
    width: 10rem;
    margin: 1em;
  }
  
  .cart-price {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .product-quantity {
    width: 4rem;
    font-size: 2rem;
    margin-left: 3rem;
  }
  
  .remove-btn {
    padding: 1em 2em;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
    font-weight: bolder;
    font-size: 1rem;
  }
  
  .remove-btn:active {
    transform: translateY(5px);
  }
  
  @media (max-width: 1000px){
    .cart-modal {
      width: 100vw;
    } 
    
    .product-row {
      flex-direction: column;
      text-align: center;
      margin-bottom: 2em;
    }
    
    .remove-btn {
      margin: 0
    }
    
    .product-quantity {
      margin: .5em 0 .5em 0
    }
  }
  </style>
  
  

  <body>
    
    
    
    <!--  cart modal  -->
    <div class="cart-modal-overlay">
      <div class="cart-modal">
        <i id="close-btn" class="fas fa-times"></i>
          <h1 class="cart-is-empty">Cart is empty</h1>
        
          <div class="product-rows">
          </div>
          <div class="total">
            <h1 class="cart-total">TOTAL</h1>
              <span class="total-price">$0</span>
                <button class="purchase-btn">PURCHASE</button>
          </div>
        </div>
      </div>
  <!--   end of cart modal -->
    <div class="cart-btn">
      <i id="cart" class="fas fa-shopping-cart"></i>
        <span class ="cart-quantity">0</span>
    </div>
  <!--  products  -->
    <div class="items-container">
      <div class="card-1 card">
        <img class="product-image" src="https://www.versace.com/dw/image/v2/ABAO_PRD/on/demandware.static/-/Sites-ver-master-catalog/default/dw5138c0ea/original/90_A88541-1F00613_2B020_10_BaroccoMosaicMotifJacket-Jacketsandcoats-versace-online-store_0_1.jpg?sw=748&sh=1050&sm=fit&sfrm=jpg" alt="">
          <button class="add-to-cart">Add to cart</button>
            <span class="product-price">$1395</span>
      </div>
      <div class="card-2 card">
        <img class="product-image" src="https://www.versace.com/dw/image/v2/ABAO_PRD/on/demandware.static/-/Sites-ver-master-catalog/default/dwd6df3a5d/original/90_A88427-1F00539_5B000_10_MedusaAmplifiedPrintJacket-Jacketsandcoats-versace-online-store_0_1.jpg?sw=748&sh=1050&sm=fit&sfrm=jpg" alt="">
        <button class="add-to-cart">Add to cart</button>
          <span class="product-price">$1175</span>
      </div>
      <div class="card-3 card">
        <img class="product-image" src="https://www.versace.com/dw/image/v2/ABAO_PRD/on/demandware.static/-/Sites-ver-master-catalog/default/dw61b221b9/original/90_A88691-A233255_A1008_10_MedusaPufferJacket-Jacketsandcoats-versace-online-store_0_1.jpg?sw=748&sh=1050&sm=fit&sfrm=jpg" alt="">
          <button class="add-to-cart">Add to cart</button>
            <span class="product-price">$1150</span>
      </div>
      <div class="card-4 card">
        <img class="product-image" src="https://www.versace.com/dw/image/v2/ABAO_PRD/on/demandware.static/-/Sites-ver-master-catalog/default/dw95910dab/original/90_A87432-A230630_A1008_10_GrecaPatternQuiltedJacket-Jacketsandcoats-versace-online-store_0_0.jpg?sw=748&sh=1050&sm=fit&sfrm=jpg" alt="">
           <button class="add-to-cart">Add to cart</button>
          <span class="product-price">$1575</span>
      </div>
      <div class="card-5 card">
        <img class="product-image" src="https://www.versace.com/dw/image/v2/ABAO_PRD/on/demandware.static/-/Sites-ver-master-catalog/default/dw52489b23/original/90_A86388-A230630_A1008_10_ZipAccentHoodedJacket-JacketsandCoats-versace-online-store_0_0.jpg?sw=748&sh=1050&sm=fit&sfrm=jpg" alt="">
        <button class="add-to-cart">Add to cart</button>
        <span class="product-price">$1230</span>
      </div>
    </div>
  <!--  end of products  -->
    