<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>




<style>


/* content breaker */
.iMagoH {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Mier Bold", sans-serif;
    font-size: 30px;
    line-height: 54px;
    letter-spacing: 0.7px;
    color: rgb(32, 32, 36);
    text-align: center;
}
.iMagoH .sctn-line {
    width: 22%;
    height: 1px;
    background: rgb(247, 168, 202);
}

.card-img{
    height: 100%;
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.grey-container{
    background-color: rgb(239, 237, 237);
}

</style>






<!----------------------------------------CAROUSEL STARTS------------------------------------------------->

<app-carousel [images]="images"
	[autoSlide]="true">
</app-carousel>
<!----------------------------------------CAROUSEL ENDS------------------------------------------------->




<!----------------------------------------GET READY FOR MAKEOVERS CONTAINER STARTS----------------------------------------------->
 
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>GET READY FOR MAKEOVERS</span><div class="sctn-line"></div></div>
   
<br>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a routerLink="/living-detail">
            <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/files/Furniture_Category-412_X_413-01_be451f06-81d4-4eb6-add3-eba382e75a8b_1400x.progressive.jpg?v=1648464184" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/living-detail">
            <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/files/Furniture_Category-412_X_413-02_5a9f8c29-3388-4aaf-9ddd-5e60061f815b_1400x.progressive.jpg?v=1648464881" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/living-detail">
            <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/files/Furniture_Category-412_X_413-03_3060df40-fcc8-4d55-a540-c31c0307a039_1400x.progressive.jpg?v=1648464903" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/living-detail">
            <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/files/Furniture_Category-412_X_413-04_5a3a1c00-c586-4260-b8a6-b9ac9ea36d5e_1400x.progressive.jpg?v=1648464922" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/living-detail">
            <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/files/Furniture_Category-412_X_413-05_7e8d2c68-36af-478b-9ae2-ec2762f3aef8_1400x.progressive.jpg?v=1648464951" 
            alt="d-1" style="width: 100%;" ></a>
        </div>


        <div class="col-md-3">
            <a routerLink="/living-detail">
            <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/files/Furniture_Category-412_X_413-06_ff020246-a043-43eb-95c3-9db3d012a0d4_1400x.progressive.jpg?v=1648465013" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/living-detail">
            <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/files/Furniture_Category-412_X_413-09_f5980fa8-ad7e-4e35-92d2-a555ff309b9e_1400x.progressive.jpg?v=1648465131" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/living-detail">
            <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/files/Furniture_Category-412_X_413-08_bced35b6-50c0-4541-9aa1-e186ac4fcad2_1400x.progressive.jpg?v=1648465081" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
     
    </div>
</div>


<!----------------------------------------GET READY FOR MAKEOVERS CONTAINER ENDS----------------------------------------------->
 

<!----------------------------------------SHOP BY CATEGORY CONTAINER STARTS----------------------------------------------->
 
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>SHOP BY CATEGORY</span><div class="sctn-line"></div></div>
   
<br>



<div class="container">
    <div class="row">

        <div class="col-md-6">
            <a routerLink="/living-detail">
                <img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563660020-bed.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-6">
            <a routerLink="/living-detail">
                <img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563782565-furnishings.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>


        <div class="col-md-6">
            <a routerLink="/living-detail">
                <img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563810789-art-n-decor.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-6">
            <a routerLink="/living-detail">
                <img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563866590-lamps.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>

    </div>
</div>






<!----------------------------------------SHOP BY CATEGORY CONTAINER ENDS----------------------------------------------->
 





<!----------------------------------------TRENDS CONTAINER STARTS----------------------------------------------->
 
<br>
<br>

<div class="grey-container">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a routerLink="/living-detail">
            <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478281102-Home-page-Desktop_12.jpg" 
            alt="d-1" style="width: 100%;"></a>
        </div> 
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a routerLink="/living-detail">
            <img src="https://assets.myntassets.com/f_webp,w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517485441956-Wedding-checklist.jpg" 
            alt="d-1" style="width: 100%;"></a>
        </div> 
        <div class="col-md-4">
            <a routerLink="/living-detail">
            <img src="https://assets.myntassets.com/f_webp,w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478592904-Home-page-Desktop_14.jpg" 
            alt="d-1" style="width: 100%;"></a>
        </div>
        <div class="col-md-4">
            <a routerLink="/living-detail">
            <img src="https://assets.myntassets.com/f_webp,w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478592892-Home-page-Desktop_15.jpg" 
            alt="d-1" style="width: 100%;"></a>
        </div>
    </div>
</div>

</div>
<!----------------------------------------TRENDS CONTAINER ENDS----------------------------------------------->
 



<!--------------------------------------FEATURED BRANDS CONTAINER STARTS----------------------------------------------->
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>FEATURED BRANDS</span><div class="sctn-line"></div></div>
   
<br>



<div class="container-fluid">
    <div class="row">
    
        <div class="col-md-3">
            <a href="/living-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/26/13606c4a-14e9-48e4-a56a-a9c3979e7db21650971940091-swayam_logo_new_1980_x_1280.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a href="/living-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/17/9830dff5-9056-402f-9bf0-ba3ead0abcaf1647499996169-SPACES---LOGO-01--BEDBATHRUGS-.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a href="/living-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/1/a38e440e-1ff7-4092-acbe-46d74b38384a1551443106457-Home-page-Desktop-Brands_13.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a href="/living-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/17/06f9e39d-a4d4-4ba4-b4cb-960c87ff5d511647499996189-M-S-Logo.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
     
    </div>
</div>
 



<!----------------------------------------FEATURED BRANDS CONTAINER ENDS----------------------------------------------->

