<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>



<style>


/* content breaker */
.iMagoH {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Mier Bold", sans-serif;
    font-size: 30px;
    line-height: 54px;
    letter-spacing: 0.7px;
    color: rgb(32, 32, 36);
    text-align: center;
}
.iMagoH .sctn-line {
    width: 22%;
    height: 1px;
    background: rgb(247, 168, 202);
}

.exp-img{
    width: 100%; margin-left: 59px 
}


@media  (max-width: 400px)  {

.exp-img{
    width: 100%;
    margin-left: 0px;
}    
}




</style>






<!----------------------------------------CAROUSEL STARTS------------------------------------------------->

<app-carousel [images]="images"
	[autoSlide]="true">
</app-carousel>
<!----------------------------------------CAROUSEL ENDS------------------------------------------------->




<!----------------------------------------BIGGEST DEALS ON TOP BRANDS CONTAINER STARTS----------------------------------------------->
 
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>BIGGEST DEALS ON TOP BRAND</span><div class="sctn-line"></div></div>
   
<br>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <a   routerLink="/women-detail" >
           <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/814b8ff4-1dec-4a6e-86b8-c26f5c40fe4c1598892518923-Biba.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/e72c82f2-cfd5-4f9a-b1b0-ba9e2b3e51251598892519506-W.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/48aa9321-1906-4471-be70-20ef124459971598892519217-M_S.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/64ecc170-58af-473f-8144-b1639895a8291598892519457-Veromodo.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/3f125d86-5139-4ee2-8561-5a610c2624421598892519314-Only.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/8f070770-db34-4e20-ab80-59728106460a1598892519078-GAP.jpg" 
        alt="d-1" style="width: 100%;" ></a>
        </div>
    </div>
</div>
 
<!----------------------------------------BIGGEST DEALS ON TOP BRANDS CONTAINER ENDS----------------------------------------------->
 



<!--------------------------------------CATEGORIES TO BAG CONTAINER STARTS----------------------------------------------->
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>CATEGORIES TO BAG </span><div class="sctn-line"></div></div>
   
<br>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/8d992d81-49e6-4dec-89a4-49a8af8beb5d1594222967220-Kurtas-_-Kurta-Sets.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>   
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/a048cca8-7b5d-417e-9645-ca98f4b6e52c1594222967506-Sarees.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/b0f459a0-9ef0-4392-a9ed-23892a36e79c1594222966859-Dresses.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/a4dedaa4-3710-4061-b7d6-ca8c83ce9d021594222967117-Heels.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/a352f908-57c8-4c66-b052-18137cf15e6c1594222967074-Handbags.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/18eb31db-8dcb-4efa-b92d-61c8ebe0ee811594222834368-Shorts.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>     
    </div>            
</div>



<!----------------------------------------CATEGORIES TO BAG CONTAINER ENDS----------------------------------------------->


<!----------------------------------------EXPLORE TOP BRANDS CONTAINER STARTS----------------------------------------------->
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>EXPLORE TOP BRANDS</span><div class="sctn-line"></div></div>
   
<br>

<div class="container-fluid">
    <div class="row">
        &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;
        &nbsp; &nbsp;  
        <div class="col-md-2">    
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/f6e40444-b1a4-4c91-bb3c-fe213356e7de1598348260541-Only.jpg" 
            alt="d-1"  class="exp-img"></a>
        </div>   
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/5/a6de806a-b58b-460b-97fd-d78d80eab39b1596641021693-Women-s-Ethnic-Wear_Anouk.jpg" 
            alt="d-1" class="exp-img"></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/8d13b55d-a6a0-40ae-b39f-16f43e7911681598348260460-MAC.jpg" 
            alt="d-1" class="exp-img"></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/046ab589-87d5-4afa-8ab3-10e06fdbe6a61598348260596-W.jpg" 
            alt="d-1"  class="exp-img"></a>
        </div>
        <div class="col-md-2">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/f2fdda02-423c-4f11-8f1b-618ba807e5841598348260323-H_M.jpg" 
            alt="d-1" class="exp-img"></a>
        </div>
        
          
    </div>            
</div>

<!----------------------------------------EXPLORE TOP BRANDS CONTAINER ENDS----------------------------------------------->


<!----------------------------------------TRENDING IN INDIAN WEAR CONTAINER STARTS----------------------------------------------->
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>TRENDING IN INDIAN WEAR </span><div class="sctn-line"></div></div>
   
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/f0397d0f-9c2a-4c87-956e-9896b615b3061597840342772-Content-ethnicwear-trend-printparadise.jpg" 
            alt="d-1" style="width: 100%; " ></a>
        </div>   
        <div class="col-md-3">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/2ff5c4e9-da10-4d12-9aae-86c38f4c281a1597840342549-Content-ethnicwear-brand-fusiondress.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/87b0957c-41f7-4522-9f30-f69087a0dce61597840342593-Content-ethnicwear-color-mustard.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2020/8/21/99463248-ae80-47de-836f-3bafe2262bff1598029618274-Content-mostselling-Ethnicwear-Kurtasetsbiba.jpg" 
            alt="d-1" style="width: 100%;" ></a>
        </div>
          
    </div>            
</div>

<!----------------------------------------TRENDING IN INDIAN WEAR CONTAINER ENDS----------------------------------------------->


<!----------------------------------------TRENDING IN ACCESSORIES CONTAINER STARTS----------------------------------------------->
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>TRENDING IN ACCESSORIES</span><div class="sctn-line"></div></div>
   
<br>

<div class="container-fluid">
    <div class="row">
      
    <div class="col-md-3">
        <a routerLink="/women-detail">
        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2020/8/21/bc36f35b-f5ce-4168-bd96-d3c1f65ec4e21598030134870-Content-mostselling-Accessories-Rosegoldwatch.jpeg" 
        alt="d-1" style="width: 100%;" ></a>
    </div>
    <div class="col-md-3">
        <a routerLink="/women-detail">
        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/b5fb5332-cad0-4c04-bd5e-70189f5efef01597840218056-Content-accessories-mostselling-mangalsutra.png" 
        alt="d-1" style="width: 100%;" ></a>
    </div>
    <div class="col-md-3">
        <a routerLink="/women-detail">
        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/225f77f5-c299-4849-8586-3ed41b70b1f91597840217917-Content-accessories-brand-imittire.png" 
        alt="d-1" style="width: 100%;" ></a>
    </div>
    <div class="col-md-3">
        <a routerLink="/women-detail">
        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/5e68d729-b955-431c-930c-931d8b452d421597840217983-Content-accessories-color-white.png" 
        alt="d-1" style="width: 100%;" ></a>
    </div>
    </div>            
</div>

<!----------------------------------------TRENDING IN ACCESSORIES CONTAINER ENDS----------------------------------------------->


    
<!--------------------------------------TRENDING IN FOOTWEAR CONTAINER STARTS----------------------------------------------->
<br>
<br>

<div class="S_SectionHeader__S_SectionHeaderDesk-sc-xeedx1-1 iMagoH sctn-header">
    <div class="sctn-line"></div><span>TRENDING IN FOOTWEAR </span><div class="sctn-line"></div></div>
   
<br>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2020/8/20/cb3b10a6-a216-4f20-a4f1-81828bc923581597912691297-Content-footwear-trend-sneakerswomen.jpg" 
            alt="d-1" style="width: 100%; " ></a>
        </div>  
        <div class="col-md-3">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/bb73b79f-ff6e-4472-b9da-33f5747c6d861597840342909-Content-footwear-occasion-classics.jpg" 
            alt="d-1" style="width: 100%;"></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/1fb4a81c-d5e2-4e46-93d8-b6a87ca92c021597840342817-Content-footwear-color-colorblock.jpg" 
            alt="d-1" style="width: 100%;"></a>
        </div>
      
        <div class="col-md-3">
            <a routerLink="/women-detail">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/28/1b444433-164b-4551-9749-d2915a286ee01595935221365-Content-Footwear-Women-Comfort-Wear.jpg" 
            alt="d-1" style="width: 100%;"></a>
        </div>
         
    </div>            
</div>



<!----------------------------------------TRENDING IN FOOTWEAR CONTAINER ENDS----------------------------------------------->

<router-outlet (activate)="OnActive()" ></router-outlet>



